body, html {
  margin: 0;
}

/** Remove all "link" styles */
a {
  color: inherit;
}

.draggable-area {
  webkit-user-select: none;
  -webkit-app-region: drag;
}

.non-draggable-area {
  -webkit-app-region: no-drag;
}
